<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Simple Sidebar - Start Bootstrap Template</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/simple-sidebar.css') }}">
  <link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

        <script src="{{ url_for('static',filename='d3/d3.v4.min.js') }}"></script>


</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading"> County </div>
      <div id="counties" class="list-group list-group-flush">
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <!-- <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li> -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Attributes
                </a>
                <ul id="attributes-dropdown-list" class="dropdown-menu checkbox-menu dropdown-menu-right allow-focus" aria-labelledby="dropdownMenu2">
                </ul>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid">
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Menu Toggle Script -->
  <script>
    var all_data = {{ returned_data.all_data | safe }};
    // var all_counties = {{ returned_data.all_counties | safe }};
    // var county = {{ returned_data.county_name | safe }};

    var all_counties = new Set();
    all_data.forEach(element => {
      all_counties.add(element["County"])
    });

    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });

    d3.select("#counties")
        .selectAll("a")
        .data(Array.from(all_counties))
        .enter()
        .append("a")
        .text(function (d) {
            return d;
        }) // text showed in the menu
        .attr("value", function (d) {
            return d;
        })//value selected in dropdown
        // .attr("href", function (d) {
        //   return "/county/" + d
        // })
        .attr("class", "county list-group-item list-group-item-action bg-light"); 
    
      // $(".county").on('click', function(event){
      //   event.stopPropagation();
      //   event.stopImmediatePropagation();
      //   // foo(this.text)
      //   console.log("hi")
      // });
    
    var county = document.getElementsByClassName("county");
    var i;
    var data;
    for (i = 0; i < county.length; i++) {
        county[i].addEventListener("click", function() {
            var cur_county = this.text;
            $.ajax({
                url: "/county/" + this.text,
                success: function(response) {
                    data = JSON.parse(response);
                    bar(data, cur_county);
                }
            })
        });
    }

    var numeric_attributes = ['Year', 'Month', 'Week', 'Infected', 'Avg household size',
    'Area', 'Population', 'Under_18', '18-24', '25-44', '45-64', 'Above_65', 'Median_age',
    'Medianfamilyincome', 'Number_households', 'Beds_adult_facility_care', 'Beds_hospital', 
    'County_Served_hospital', 'Service_hospital', 'Discharges_Other_Hospital_intervention', 
    'Discharges_Respiratory_system_interventions', 'Total_Charge_Other_Hospital_intervention', 
    'Total_Charge_Respiratory_system_interventions', 'Unemp_rate'];
    // Populate dropdown attributes
    var divs_attributes = d3.select("#attributes-dropdown-list")
                            .selectAll("li")
                            .data(Array.from(numeric_attributes))
                            .enter()
                            .append("li")
                            .append("label")
                                .text(function (d) { return d; })
                            .append("input")
                                .attr("type", "checkbox");

    $(document).on('click', '.allow-focus', function (e) {
        e.stopPropagation();
    });

    var selected_attributes = new Set();
    $(".checkbox-menu").on("change", "input[type='checkbox']", function() {
        $(this).closest("li").toggleClass("active", this.checked);        
        $.each($("#attributes-dropdown-list li label"), function(){
            var selected_attribute = $(this).text();
            if ($(this).children()[0].checked) {
                selected_attributes.add(selected_attribute);
            }
            else {
                selected_attributes.delete(selected_attribute);
            }
        });
    });
    console.log()    
        
    
    // function foo(county_name) {
    //   (all_data.filter(function (point) {
    //     return point["County"] === county_name;
    //   }))
    // }

    function bar(d, county) {
        console.log(d[county]);
    }
    
  </script>

</body>

</html>
